.btn-back-to-top{
    font-size: 32px;
    position: fixed;
    bottom:30px;
    right:30px;
    visibility: hidden;  
}

.visible{
    visibility: visible;
}

@media(max-width:475px){
    .btn-back-to-top{
        position: fixed;
        right:10px;
    }
}