.skills{
    grid-area: skills;
    
}

.skills .container{
    display: flex;
    flex-direction: column;
    
}

.skills .container-skills{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
}

.container-skills .informacoes{
    width: 150px;
    padding: 40px 20px;
    margin:30px;
    text-align: center;
    background-color: var(--background-cards);
    border-radius: 15px;
    transition: all .8s ease;
}

.container-skills .informacoes.javascript {
    color:#FBD83A;
}

.container-skills .informacoes.html {
    color:#df4a17;
}

.container-skills .informacoes.css {
    color:#00B1EE;
}

.container-skills .informacoes.git {
    color:#f05033;
}

.container-skills .informacoes.github {
    color:#9B59B6;
}

.container-skills .informacoes:hover{
    transform: scale(1.2);
}

.container-skills .informacoes .logo i{
    font-size: 8rem;
    transition:all .8s ease;
}

.container-skills .informacoes h3,
.container-skills .informacoes p{
    margin:10px 0;
    transition: all .8s ease;
}
