:root {
    --background:hsl(255, 38%, 22%);
    --background-button: hsl(254, 38%, 27%);
    --background-cards:rgb(68, 36, 95);
    --cor-primaria: hsl(300, 70%, 52%);
    --cor-secundaria:  hsl(295, 86%, 39%);
    --cor-branca:#fff;
    
      
   
  }
:root {
    --fonte-primaria: 'Poppins', sans serif;
    --fonte-secundaria: 'Raleway', sans serif;
    --fonte-logo: 'Ephesis', cursive;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }